@import '../../../node_modules/react-dates/lib/css/_datepicker.css';
@import '_variabler.less';
@import '_mixins.less';
@import '_react-dates-overrides.less';

.nav-datovelger {
	position: relative;
	&__kalenderikon {
		@borderRadius: 0 4px 4px 0;
		background-color: @white;
		border: 1px solid #0067c5;
		border-radius: @borderRadius;
		padding: 9px 9px 9px 9px;
		margin: 0;
		height: @inputHeight;
		z-index: 2;
		position: absolute;
		right: 0;
		> svg {
			width: 16px;
			height: 16px;
			transform: translateY(2px);
		}
		&:active,
		&:hover,
		&:focus {
			outline: none;
		}
	}
	&--medKalenderikon {
		width: 11rem;
		.DateInput {
			width: 11rem;
		}
		.DateInput_input {
			padding-right: 3rem;
		}
	}
	/** Justering på grunn av at chevron ikke sentreres vertikalt */
	&__chevron {
		display: inline-block;
		margin-top: -1px;
		margin-bottom: 1px;
	}
}
